<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spomoo"
        tools:targetApi="31">
        <activity
            android:name=".settings.Data_Privacy_Activity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".recordsport.Sport_Intensity_Activity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".settings.Reset_Password_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".settings.Edit_Account_Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".questionnaire.Questionnaire_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recordsport.Record_Live_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recordsport.Save_PastSport_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DigitSpan.DigitSpanTask"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideoAdapter"
            android:exported="false" />
        <activity
            android:name=".VideoList"
            android:exported="false" />
        <activity
            android:name=".mainscreen.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Spomoo.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".recordsport.TimerService" />
        <service android:name=".sensorrecording.SensorsRecordingService" />
        <service android:name=".utility.SendRecordedDataService" />
        <service android:name=".utility.StoreRecordedDataService"/>

        <receiver android:name=".questionnaire.QuestionnaireReminder" />
        <receiver android:name=".mainscreen.MainActivity" />
        <receiver
            android:name=".sensorrecording.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>